.main {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
}

@media screen and (max-width: 1497px) {
  .action {
    margin: 1rem 0.3rem 0 0.3rem;
    color: #ffffff;
    display: block;
    width: 15rem;
    text-align: center;
    position: relative;
    left: 20%;
  }
}

.btn {
  margin: 1rem 0.3rem 0 0.3rem;
  color: #ffffff;
}

.btn:hover {
  background-color: transparent;
  color: #6f0fa7;
  border: 0.2rem solid #6f0fa7;
}

.greeting {
  text-align: center;
  font-size: 1rem;
}

.user-name {
  font-size: 1.5rem;
}

.action {
  text-transform: uppercase;
  border-radius: 0.3rem 0 0.3rem 0;
}

.error {
  border-left: 0.3rem solid #ff0000;
  padding-left: 0.3rem;
  margin-top: 2rem;
}
