* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.header {
  padding: 1rem 0.5rem;
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  border-bottom: 0.5rem solid #000000;
  font-size: 2rem;
}

.nav-section {
  display: inline-block;
  margin-top: 7rem;
  position: fixed;
  right: 0;
  transform: translateX(-5%);
}

.nav-items li {
  display: inline-block;
  padding-right: 1rem;
  text-align: right;
  margin: 0 0.2rem 0 0.2rem;
  text-decoration: underline;
}

li {
  cursor: pointer;
}
