* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.header {
  color: #6f0fa7;
  background-color: rgba(112, 15, 169, 0.1);
  border-bottom: 0.2rem solid #6f0fa7;
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  font-size: 4rem;
  width: 100vw;
  height: 15vh;
  z-index: 1;
}

.nav-section {
  display: inline-block;
  top: 15%;
  position: fixed;
  width: 100vw;
  background-color: #f7f8f8;
}

ul {
  text-align: center;
}

.nav-items li {
  display: inline-block;
  padding: 1rem 1rem 0.5rem 1rem;
  text-align: right;
  color: #6f0fa7;
  cursor: pointer;
  transition: font-size 1s linear 0.5s;
  font-size: 0.7rem;
  /* right: 5%; */
  top: 25%;
}

li:last-child {
  position: fixed;
  right: 2%;
  top: 15%;
}

.nav-bar-text {
  padding-right: 0.5rem;
  color: #6f0fa7;
  text-transform: lowercase;
  font-weight: bold;
}

li:hover {
  font-size: 0.8rem;
}

.nav-icon {
  font-size: 1rem;
  text-align: center;
  position: relative;
  left: -50%;
}
