* {
  padding: 0;
  margin: 0;
  border: none;
  box-sizing: border-box;
}

.close {
  font-size: 1rem;
  color: #6f0fa7;
  position: fixed;
  left: -7%;
  top: -5%;
  cursor: pointer;
}

.input-field {
  border: 0.1rem solid #6f0fa7;
  display: inline-block;
}

.search-btn {
  background-color: rgb(111, 15, 167, 0.1);
  color: #6f0fa7;
  margin-left: 0.2rem;
  padding: 0.5rem 0.7rem;
  font-size: 1rem;
}
