* {
  padding: 0;
  margin: 0;
  border: none;
  box-sizing: border-box;
}

.close {
  font-size: 1rem;
  color: #6f0fa7;
  position: absolute;
  left: -6%;
  top: -4%;
  cursor: pointer;
}

.input-field {
  border: 0.15rem solid #6f0fa7;
  border-radius: 0 0.3rem 0.3rem;
  display: inline-block;
  margin-bottom: 2rem;
}

.search-btn {
  background-color: rgb(111, 15, 167, 0.1);
  color: #6f0fa7;
  margin-left: 0.2rem;
  padding: 0.5rem 0.7rem;
  font-size: 1rem;
  cursor: pointer;
}

.search-result-section {
  margin-bottom: 5rem;
}

.indicate-interest-btn {
  background-color: #6f0fa7;
  border-radius: 0.3rem;
  color: #ffffff;
  width: 8rem;
  padding: 0.2rem 0.2rem;
  position: relative;
  right: -83%;
  cursor: pointer;
}
.indicate-interest-btn:hover {
  background-color: #128312;
  border: none;
  color: #ffffff;
}

.lease-result {
  background-color: rgb(111, 15, 167, 0.1);
  margin-bottom: 1rem;
  padding: 0.5rem;
}

.success {
  border-left: 0.3rem solid #0b7e3e;
  padding-left: 0.3rem;
  margin-top: 2rem;
}
